.jumbotron{
  margin: 4vh 0 4vh 0;
  background-image: url(./Banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:485px;
}
.container{
  padding-top: 6vh;
  text-align: center;
}

.lead{
  font-weight:100;
  margin-top:-10px;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

@media(max-width:480px){
  .jumbotron{
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
    height: 440px;
  }
  .bg-text{
    height: auto;
    width: 25rem;
    padding: 5px 0 5px 0;
    transform: translate(-50%, -95%);
  }
}