.close_checkout{
    background-color: #017aff;
    width: 60px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: -60px;
    cursor: pointer;
}
.CarritoQl{
    background-color: #017aff;
}
.bag__quantity {
    bottom: 5px;
    right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #0c0b10;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    background-color: #eabf00;
    position: absolute;
    bottom: -5px;
    right: 0px;
  }
  @media (max-width:480px){
        .x{
            line-height: 28px;
            top: 25px;
            left: 5px;
            text-align: center;
            border-radius: 30px;
            height: 30px;
            width: 30px;
      }
  }
  @media (max-width:510px){
    .close_checkout{
        top:10px;
    }
  }