.close_checkout_x{
    background-color: #1b1a20;
    width: 60px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: -60px;
    cursor: pointer;
}
.CarritoQl{
    background-color: #1b1a20;
}
.bag__quantity {
    bottom: 5px;
    right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #0c0b10;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    background-color: #eabf00;
    position: absolute;
    bottom: -5px;
    right: 0px;
  }